.jan-TriviaExplorer {
  display: grid;
  grid-template-rows: 75px auto;
  &-body {
    padding: 15px 15px 0 15px;
  }
}

.jan-TriviaExplorer-PeopleListView {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  &-Item {
    background-color: #212d40;
  }
}
