.App {
  text-align: center;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 275px 4fr;
  background-color: #11151c;
  color: #708d81;
}

.App-nav {
  background-color: #11151c;
  color: #e4b363;
  border-right: 2px solid #27292e;
  box-shadow: 1px 1px #27292e;
  font-size: calc(10px + 2vmin);
  font-weight: bold;
  letter-spacing: 4px;
  padding-top: 1.2rem;
  position: sticky;
  top: 0;
}
